#buttons
{   margin-top:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

#results{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    font-family: fantasy;
    color: crimson;
}

#message{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    color: #000;
    
}

#winner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    font-family: fantasy;
    color: navy;
}
